= javascript_tag("Event.observe(window,'load',function(){instantiateCkEditor('#{page_part.name}')});Event.observe($('part_#{page_part.name}_filter_id'),'change',function(){toggleEditor('#{page_part.name}')});")
- include_javascript "extensions/ck_editor_filter/radiant.ckeditor.js"
- include_javascript "extensions/ck_editor_filter/ckeditor/ckeditor.js"