:javascript
  Event.observe(window,'load',function(){ 
    instantiateCkEditor('#{page_part.name.downcase}')
    Event.addBehavior({ 'a.insert_asset': InsertIntoCk })
  })
  Event.observe($('part_#{page_part.name.downcase}_filter_id'),'change',function(){ toggleEditor('#{page_part.name.downcase}') })